
<div class="container-fluid secondary-main-color fw-bolder">
    <div class="container-fluid py-5">
    <div class="d-flex justify-content-between align-items-center py-5">
        <div class="">
            <p>Designed By Eng.Mohamed Anter ,Provided By TMBD.</p>
        </div>
        <div class="social-links d-flex justify-content-center gx-5 align-items-center me-5 ">
            <div class="social-link d-flex justify-content-center align-items-center mx-2 cursor-pointer">
                <i class="fa-brands  fa-facebook fa-xl"></i>
            </div>
            <div class="social-link d-flex justify-content-center align-items-center mx-2 cursor-pointer">
                <i class="fa-brands fa-instagram fa-xl"></i>
            </div>
            <div class="social-link d-flex justify-content-center align-items-center mx-2 cursor-pointer">
                <i class="fa-brands fa-x-twitter fa-xl"></i>
            </div>

             <div class="social-link d-flex justify-content-center align-items-center mx-2 cursor-pointer">
               <i class="fa-brands fa-linkedin fa-xl"></i>
            </div>
        </div>
        <div class=" ">
            <p><i class="fa-regular fa-copyright "></i>2023.All Rights Reserved.</p>
        </div>
    </div>
</div>
</div>